! Ctrl+Arrows/Home End Navigation
URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintfull

! Clickable links
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! General Settings
URxvt*saveLines: 10000
URxvt*resize-font.smaller: C-Down
URxvt*resize-font.bigger: C-Up
URxvt*termName: xterm-256color

! Font settings
URxvt.font: xft:DejaVu Sans Mono:medium:size=9:antialias=true:hinting=true
URxvt.letterSpace: -1

! Scrollbar
URxvt.scrollBar: false
!URxvt.scrollBar_right: true
!URxvt.scrollstyle: plain
!URxvt.scrollColor: #2d2d2d

! Scroll Lock
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

! Transparency
!URxvt.transparent: true
!URxvt.shading: 9

! Clickable links
!URxvt.perl-ext-common: default,matcher,resize-font
!URxvt.url-launcher: /usr/bin/firefox
!URxvt.matcher.button: 1

rofi.highlightbg: #676d3d

! Colors
URxvt.depth: 24

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c3ff00

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #409459
*.color10:      #7dbd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

