[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=niri.service
After=niri.service

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
  timeout 900 'systemctl suspend' \
  lock 'swaylock -f' \
  before-sleep 'swaylock -f'
Restart=on-failure

[Install]
WantedBy=niri.service
